body {
  
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('formula-img.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(0.8);
}

.connexion-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background: rgba(55, 55, 55, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border to enhance the frosted effect */
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
  
  font-weight: bold;
  background: linear-gradient(45deg, rgb(231, 156, 254), rgb(200, 0, 255)); /* Dégradé du cyan au magenta */
  color: transparent;
  background-clip: text; /* Applique le dégradé au texte */
  -webkit-background-clip: text;
  text-align: center;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.bth-container{
  display: flex;
  
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 10px;
}

a {
  color: rgb(224, 127, 251);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  background: linear-gradient(45deg, rgb(231, 156, 254), rgb(200, 0, 255));
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(200, 0, 255);
}
