/*.connexion-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;

}*/

body {
  
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('formula-img.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(0.8);
}

.connexion-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(10, 10, 10, 0.9 ); /* Couleur blanche transparente */
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Ombre floue */
  backdrop-filter: blur(30px) saturate(180%); /* Effet de flou pour simuler le verre */
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 10px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
